{% extends 'teacher_dashboard/base.html' %} {% load static %} {% block style %}
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="{% static 'teacher_dashboard/styles/assignment_view.css' %}"
/>
{% endblock style %} {% block content %}
<div class="container">
<h2>{{assignment.assignment_name}}</h2>
<div class="row">
  <div class="col-lg-8 col-md-12">
    <div class="left-col p-4 pt-5">
      <div id="assignment_body"></div>
      <div class="options">
        <a
          href="{% url 'editAssignment' course_id=course.course_id assignment_slug=assignment.slug %}"
        >
          <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
        <a href="{% url 'delete_assignment' assignment_slug=assignment.slug %}">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-4  col-md-12">
    <div class="right-col p-lg-4 pt-lg-0 mt-lg-0 mt-4">
      <div class="d-flex justify-content-between">
        <p>Due Date:</p>
        <p>{{assignment.due_date}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Published Date:</p>
        <p>{{assignment.published_date}}</p>
      </div>
      <hr />
      <div class="d-flex justify-content-between">
        <p>Course ID:</p>
        <p>{{assignment.course_id.course_id}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Course Name:</p>
        <p>{{assignment.course_id.course_name}}</p>
      </div>
      <hr />
      <div class="">
        <h2>Submissions</h2>
        {% if submissions %}
        <div class="">
          {% for submission in submissions %}
          <p></p>
          <div class="d-flex justify-content-between">
            <a href="{% url 'submission_detail' pk=submission.submission_id %}">
              <p>{{submission.student_id_id}}_{{submission.submission_id}}</p>
            </a>
            <p>{{submission.submission_date}}</p>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% comment %}
        <p>Course Name:</p>
        <p>{{assignment.course_id.course_name}}</p>
        {% endcomment %}
      </div>
    </div>
  </div>
</div></div>

<script type="text/javascript">
  html = $.parseHTML("{{assignment.assignment_body}}");
  var $assignmentBody = $("#assignment_body");
  $assignmentBody.append(html[0].data);
</script>
{% endblock content%}
