{% extends 'teacher_dashboard/base.html' %} {% load static %} {% block style %}

<link rel="stylesheet" href="{% static 'css/my_styles.css' %}" />
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
{% endblock style %} {% block content %}

<div class="container">
  <div class="d-flex justify-content-between">
    <h2>{{course.course_name}} | {{course.course_id}}</h2>
    <h5 class="fst-italic">
      Enrollment Code:
      <span class="text-decoration-underline">{{course.enrollment_code}} </span>
    </h5>
  </div>
  <p>{{course.course_desc}}</p>
</div>
<div class="container">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" >
  {% if assignment_list %} {% for assignment in assignment_list %}
  <div class="col course-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title row">
          <div class="col-7">
            <a href="{% url 'viewAssignment' course_id=course.course_id assignment_slug=assignment.slug %}">
              <h3>{{assignment.assignment_name}}</h3>
            </a>
          </div>
          <div class="col-4">
          </div>
          
        </div>
        <p class="card-text">
          {% comment %} {{course.course_desc}} {% endcomment %}
        <div class="">
          <div class="date">
            <p>Published on: {{ assignment.published_date|date:"H:m d M Y"}}</p>
          </div>
          <div class="date">
            <p>Due Date: {{ assignment.due_date|date:"H:m d M Y"}}</p>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
  {%endfor%} {% endif %}


  <div class="col empty-course-card">
        <a
          href="{% url 'createAssignment' course_id=course.course_id %}"
          class="card"
        >
          <div class="card-body">
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
                h-100
              "
            >
              <i
                class="fa fa-plus-circle"
                style="font-size: 60px; color: #b4b4b4"
                aria-hidden="true"
              ></i>
              <p class="text-muted p-0 m-0">Create a new assignment</p>
            </div>
          </div>
        </a>
      </div>

</div>

{% endblock content %}
