{% extends 'teacher_dashboard/base.html' %} {% load static %} {% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'teacher_dashboard/styles/assignment_view.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'prism/prism.css' %}"
/>
{% endblock style %} {% block content %}
<div class="container">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  <h2 id="id_passer" data-pk={{assignment.assignment_id}}>{{assignment.assignment_name}}</h2>
  <div class="row">
    <div class="col-8 p-0 pt-2">
      <div class="left-col p-4">
        <div id="assignment_body"><h3>Problem:</h3></div>
      </div>
      <br />
<div
        class=""
        style="filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2))"
      >
      <pre>
      <code class="language-{{submission.submission_lang}}">
      
      {{submission.submission_code}}
      </code>
      </pre>
    </div>

    </div>
    <div class="col-4">
      <div class="right-col p-4 pt-0">
        <div class="d-flex justify-content-between">
          <p>Due Date:</p>
          <p>{{assignment.due_date}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Published Date:</p>
          <p>{{assignment.published_date}}</p>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <p>Course ID:</p>
          <p>{{assignment.course_id.course_id}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Course Name:</p>
          <p>{{assignment.course_id.course_name}}</p>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <p>Submitted by:</p>
          <p>{{ submission.student_id_id }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Submitted date:</p>
          <p>{{ submission.submission_date|date:"H:m d M Y"  }}</p>
        </div>
        <hr />
        <div class="">
        <h4>Comments</h4>
          <div class="mb-3 row">
            <div class="col-11">
              <input type="text" class="form-control" id="comment_body">
            </div>
            <button id="comment_btn" class="btn col-1 p-0">
              <i class="fa fa-comment" aria-hidden="true"></i>
            </button>
          </div>
          {% for comment in comments %}
          <div class="mb-2">
          <span class="text-muted">{{comment.author_id}}</span>
          <br>
          {{comment.comment}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    function comment() {
        $("#comment_btn").prop("disabled", true);

        var token = $(":input[name='csrfmiddlewaretoken']").val();
        var comment_msg = $("#comment_body").val();
        var comment_body = {
          msg: comment_msg,
          csrfmiddlewaretoken: token,
        };

        $.ajax({
          url: "../../comment/{{submission.submission_id}}",
          type: "POST",
          data: comment_body,
          dataType: "json",
          timeout: 1000000,
          success: function (response) {
            ongoing = false;
            $("#comment_btn").prop("disabled", false);
            $("#comment_body").val(null);
            location.reload();
          },
        });
      }

    $("#comment_btn").click(function () {
        console.log('aa')
        comment();
      });
  </script>
  <script type="text/javascript">
    html = $.parseHTML("{{assignment.assignment_body}}");
    var $assignmentBody = $("#assignment_body");
    $assignmentBody.append(html[0].data);
  </script>
  <script src="{% static 'prism/prism.js' %}"></script>
  {% endblock content%}
</body>
