{% extends 'teacher_dashboard/base.html' %} {% load static %} {% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'teacher_dashboard/styles/assignment_view.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'prism/prism.css' %}"
/>
{% endblock style %} {% block content %}
<div class="container">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  <h2 id="id_passer" data-pk={{assignment.assignment_id}}>{{assignment.assignment_name}}</h2>
  <div class="row">
    <div class="col-8 p-0 pt-2">
      <div class="left-col p-4">
        <div id="assignment_body"><h3>Problem:</h3></div>
      </div>
      <br />

      <pre>
      <code class="language-{{submission.submission_lang}}">
      
      {{submission.submission_code}}
      </code>
      </pre>

    </div>
    <div class="col-4">
      <div class="right-col p-4 pt-0">
        <div class="d-flex justify-content-between">
          <p>Due Date:</p>
          <p>{{assignment.due_date}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Published Date:</p>
          <p>{{assignment.published_date}}</p>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <p>Course ID:</p>
          <p>{{assignment.course_id.course_id}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Course Name:</p>
          <p>{{assignment.course_id.course_name}}</p>
        </div>
        <hr />
<div class="d-flex justify-content-between">
          <p>Submitted by:</p>
          <p>{{ submission.student_id_id }}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Submitted date:</p>
          <p>{{ submission.submission_date|date:"H:m d M Y"  }}</p>
        </div>
        {% comment %} <div class="d-flex justify-content-between">
          <p>Teacher:</p>
          <p>
            {{assignment.course_id.teacher_id.first_name}}
            {{assignment.course_id.teacher_id.last_name}}
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Email:</p>
          <p>{{assignment.course_id.teacher_id.email}}</p>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    html = $.parseHTML("{{assignment.assignment_body}}");
    var $assignmentBody = $("#assignment_body");
    $assignmentBody.append(html[0].data);
  </script>
  <script src="{% static 'prism/prism.js' %}"></script>
  {% endblock content%}
</body>
