{% extends 'teacher_dashboard/base.html' %} {% block content %}
<div class="centerstage">
  {% for assignment in assignment_list %} {% if forloop.first %}
  <div class="row">
    {% endif %}
    <div class="col-xs-5 offset-1">
      <div class="post">
        <h1>
          <a href="{% url 'post_detail' pk=assignment.pk %}"
            >{{ assignment.assignment_name }}</a
          >
        </h1>
        <div class="date">
          <p>Published on: {{ assignment.published_date|date:"H:m d M Y"}}</p>
        </div>
        <h4>Course : {{assignment.course_id.course_name}}</h4>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row">{% endif %} {% if forloop.last %}</div>
  {% endif %} {% endfor %}
</div>
{% endblock %}

<!-- {% for assignment in assignment_list %}
  <div class="post">
    <h1>
      <a href="{% url 'post_detail' pk=assignment.pk %}">{{ assignment.assignment_name }}</a>
    </h1>
    <div class="date">
      <p>Published on: {{ assignment.published_date|date:"H:m d M Y"}}</p>
    </div>
    <h4>Course : {{assignment.course_id.course_name}}</h4>
  </div>
  {% endfor %} -->
