{% extends 'accounts/base.html' %} {% load static %} {% block navbrand %}

<a class="navbar-brand" href="{% url 'student_dashboard' %}">Aulas | CoderGo</a>
{% endblock navbrand %} {% block nav %}
<ul class="navbar-nav d-flex justify-content-end w-100 mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active me-5" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item me-5">
    <a class="nav-link">Hello {{user.first_name}}</a>
  </li>
  <li class="nav-item me-5">
    <a class="nav-link">Profile</a>
  </li>
  <li class="nav-item me-5">
    <a class="nav-link" href="{% url 'ide' %}">IDE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>
</ul>
{% endblock nav %}
