{% extends 'student_dashboard/base.html' %} {% load static %} {% block style %}
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<script
  src="{% static 'js/jquery.min.js' %}"
  type="text/javascript"
  charset="utf-8"
></script>
<script
  src="{% static 'ace-builds/src/ace.js' %}"
  type="text/javascript"
  charset="utf-8"
></script>
<script
  src="{% static 'ace-builds/src/ext-statusbar.js' %}"
  type="text/javascript"
  charset="utf-8"
></script>
<script
  src="{% static 'ace-builds/src/ext-language_tools.js' %}"
  type="text/javascript"
  charset="utf-8"
></script>

<script
  src="{% static 'js/my_js.js' %}"
  type="text/javascript"
  charset="utf-8"
></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'teacher_dashboard/styles/assignment_view.css' %}"
/>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}" />
{% endblock style %} {% block content %}

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

<br />
<div class="ms-2">
<h4 >Type your code in here</h4>
<hr />
</div>
<br />

<div class="container">
  <div id="topbar" class="row">
          <div class="col-3">
            <select class="form-select" name="lang" id="lang">
              <option value="C">C</option>
              <option value="CPP">C++</option>
              {% comment %} <option value="CLOJURE">Clojure (clojure 1.1.0)</option> {% endcomment %}
              {% comment %} <option value="CSS">CSS</option> {% endcomment %}
              <option value="CSHARP">C#</option>
              {% comment %} <option value="GO">Go</option> {% endcomment %}
              {% comment %} <option value="HASKELL">Haskell (ghc 7.4.1)</option> {% endcomment %}
              <option value="JAVA">Java</option>
              <option value="JAVASCRIPT">JavaScript</option>
              <option value="KOTLIN">Kotlin</option>
              <option value="LISP">Lisp</option>
              {% comment %} <option value="OBJECTIVEC">Objective-C (clang 3.3)</option> {% endcomment %}
              {% comment %} <option value="PASCAL">Pascal (fpc 2.6.2)</option> {% endcomment %}
              <option value="PERL">Perl</option>
              <option value="PHP">PHP</option>
              <option value="PYTHON" selected>Python3</option>
              <option value="RUBY">Ruby</option>
              {% comment %} <option value="R">R (RScript 3.0.2)</option> {% endcomment %}
              {% comment %} <option value="RUST">Rust (rustc 1.4.0)</option> {% endcomment %}
              {% comment %} <option value="SCALA">Scala (scalac 2.9.2)</option> {% endcomment %}
              <option value="TEXTFILE">Text</option>
            </select>
          </div>
          <div class="col-2 align-items-center d-flex ms-auto">
          <a href="#" id="download">
              download code
              <span
                class="glyphicon glyphicon-download-alt"
                aria-hidden="true"
              ></span>
            </a>
          </div>
          <div class="col-3">
            <div class="theme-choose">
              <select class="form-select" name="theme" id="theme">
                <option value="Light" selected>Light</option>
                <option value="Monokai">Monokai</option>
                <option value="Solarised Light">Solarised Light</option>
                <option value="Twilight">Twilight</option>
              </select>
            </div>
          </div>
            
        </div>

  <pre id="editor"></pre>

  <div id="editor-statusbar"></div>

  <div class="row">
    <div id="showres">
      <div class="pull-left user-input-area">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="user-input" /> Use custom input for
            testing your code
          </label>
        </div>
      </div>

      <div style="margin-left: 85.4%" class="run-save-panel">
        <button
          class="btn btn-success"
          id="runcode"
          data-toggle="tooltip"
          data-placement="top"
          title="Compile and Run"
        >
          Compile and Run
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-container">
      <textarea
        id="custom-input"
        class="input-textarea"
        placeholder="Write inputs to program."
      ></textarea>
    </div>
  </div>

  <div class="outputbox">
    <div class="outputio">
      <div class="outputerror">
        <div class="errorkey"></div>
        <pre class="errormessage"></pre>
      </div>

      <div class="io-show">
        <b>Output</b>
        <pre class="output-text outputo"></pre>
        <b>Input</b>
        <pre class="output-text outputi"></pre>
      </div>
    </div>

    {% comment %} <div class="output-details">
      <div class="correct log-details">
        <b>Log Details:</b>
        <div id="demo"></div>
        <script type="text/javascript">
          var myDate = new Date();
          var hours = myDate.getHours();
          var minutes = myDate.getMinutes();
          var ampm = hours >= 12 ? "pm" : "am";
          hours = hours % 12;
          hours = hours ? hours : 12;
          minutes = minutes < 10 ? "0" + minutes : minutes;
          var strTime = hours + ":" + minutes + ampm;
          document.getElementById("demo").innerHTML =
            myDate.getDate() +
            "/" +
            (parseInt(myDate.getMonth()) + 1).toString() +
            "/" +
            myDate.getFullYear() +
            " at " +
            strTime;
        </script>
      </div>
      <div class="correct time">
        <b>Time (sec)</b>
        <div class="value"></div>
      </div>
      <div class="correct memory">
        <b>Memory (KB)</b>
        <div class="value"></div>
      </div>
      <div class="correct runstat">
        <b>Run Status</b>
        <div class="value"></div>
      </div>
      <div class="correct compilestat">
        <b>Compile Status</b>
        <div class="value"></div>
      </div>
    </div> {% endcomment %}
  </div>
</div>
{% endblock content%}
