

/* buttons */
.green-btn {
    background-color: #00C898 !important;
    color: white;
    margin-right: 16px;
    padding: 4px 12px !important;
    border: 2px #00C898 solid;
    font-weight: 500 !important;
    font-size: 1.2rem;
    border-radius: 8px;
}

.green-btn:hover {
    background-color: #00ad85 !important;
    color: white;
    border: 2px #00ad85 solid;
}

.green-outline-btn {
    color: #00C898;
    padding: 4px 12px !important;

    border: 2px #00C898 solid;
    font-weight: 500 !important;
    font-size: 1.2rem;
    border-radius: 8px;
}

.green-outline-btn:hover {
    background-color: #00ad85 !important;
    color: white;
    border: 2px #00ad85 solid;
}



.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}


/* text */
.big-text {
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 3rem;
}

.subtitle-text {
    letter-spacing: 0.1rem;
    color: #606a79;
    line-height: 1.3rem;
    padding-top: 16px;
}

.yellow-text {
    color: #EDBC0D;
}

.green-text {
    color: #00C898;
}

a {
    text-decoration: none !important;
}
