{% extends "accounts/base.html" %} {% block content %} {% load static %}
<section class="landing-section">
  {% if user.is_authenticated %}
  <p>Logged In</p>
  {% else %}

  <div class="row w-100">
    <div class="col-md-6 hero-text-wrapper">
      <section>
        <h1 class="big-text">
          Learn <span class="yellow-text">Coding</span>, Anytime and Anywhere
        </h1>
        <p class="subtitle-text">
          We are ready to become an Online Learning System solution that makes
          teaching and learning coding easier
        </p>
        <br />
        <a
          name=""
          id=""
          class="btn green-btn"
          href="{% url 'login' %}?type=student"
          role="button"
          >For Students</a
        >
        <a
          name=""
          id=""
          class="btn green-outline-btn"
          href="{% url 'login' %}?type=teacher"
          role="button"
          >For Teachers</a
        >
      </section>
    </div>
    <div class="col-md-6 hero-img-wrapper">
      <a href="https://www.freepik.com/vectors/technology" target="_blank">
        <img
          src="{% static 'accounts/images/illustration1.jpg' %}"
          alt="Technology vector created by pch.vector - www.freepik.com"
          srcset=""
          height="500px"
        />
      </a>
    </div>
  </div>
</section>

<section>{% endif %}</section>
{% endblock content %}
