{% extends "accounts/base.html" %} {% block navbrand %}
<a class="navbar-brand" href="{% url 'home' %}">Aulas | CoderGo</a>
{% endblock navbrand %} {% block nav %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active me-5" aria-current="page" href="#">Home</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link me-5">Hello {{user.first_name}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link me-5" href="{% url 'ide' %}">Open IDE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link me-5" href="{% url 'logout' %}">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link me-5" aria-current="page" href="#">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Help</a>
  </li>
  {% endif %}
</ul>

{% endblock nav %} {% block content %} {% load static %}
<section class="landing-section">
  <div class="row w-100">
    <div class="col-lg-6 mb-3 hero-text-wrapper">
      <section>
        <h1 class="big-text">
          Learn <span class="yellow-text">Coding</span>, Anytime and Anywhere
        </h1>
        <p class="subtitle-text">
          We are ready to become an Online Learning System solution that makes
          teaching and learning coding easier
        </p>
        <br />
        <a
          name=""
          id=""
          class="btn green-btn"
          href="{% url 'login' %}?type=student"
          role="button"
          >For Students</a
        >
        <a
          name=""
          id=""
          class="btn green-outline-btn"
          href="{% url 'login' %}?type=teacher"
          role="button"
          >For Teachers</a
        >
      </section>
    </div>
    <div class="col-lg-6 hero-img-wrapper">
      <a href="https://www.freepik.com/vectors/technology" target="_blank">
        <img
          src="{% static 'accounts/images/illustration1.jpg' %}"
          alt="Technology vector created by pch.vector - www.freepik.com"
          class="img-fluid"
          srcset=""
        />
      </a>
    </div>
  </div>
</section>

{% comment %}
<section>{% endif %}</section>
{% endcomment %} {% endblock content %}
